{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | {{ site.nom }}{% endblock %}

{% block body %}
    <div class="small-text-center">
        <h1>Information site : {{ site.nom }}</h1>
    </div>
    <div class="affSortie">
        <div>
            <p>Nom : </p>
        </div>
        <div>
            <p>{{ site.nom }}</p>
        </div>
    </div>
    <div class="affSortie">
        <a href="{{ path('site_liste') }}" class="btn btn-warning">Retour</a>
    </div>
{% endblock %}

