{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Création site{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Ajouter">
    {{ form_end(form) }}
    <a href="{{ path('site_liste') }}"><button >Retour</button></a>
{% endblock %}

