{% extends 'base.html.twig' %}

{% block body %}
    <div class="bodyVitrine">
        <div class="containerVitrine">
            <div class="divIndividuelle">
                <a href="https://www.eni-ecole.fr/" target="_blank"><img class="imageVitrine" src="{{ asset('image/ENIEcole.jpg') }}" alt="Activités" title="Site Web"></a>
            </div>
            <div class="divIndividuelle">
                <a href="{{ asset('jeu/index.html') }}" target="_blank"><img class="imageVitrine" src="{{ asset('image/Sarah2.gif') }}" alt="Activités"></a>
            </div>
            <div class="divIndividuelle">
                <a href="{{ asset('image/Vitrine_TSA.jpg') }}" target="_blank"><img class="imageVitrine" src="{{ asset('image/Vitrine_TSA.jpg') }}" alt="Activités"></a>
            </div>
            <div class="divIndividuelle">
                <a href="{{ asset('image/Vitrine_MD.jpg') }}" target="_blank"><img class="imageVitrine" src="{{ asset('image/Vitrine_MD.jpg') }}" alt="Activités"></a>
            </div>
            <div class="divIndividuelle">
                <a href="{{ asset('image/party.gif') }}" target="_blank"><img class="imageVitrine" src="{{ asset('image/party.gif') }}" alt="Activités"></a>
            </div>
            <div class="divIndividuelle">
                <a href="{{ asset('image/Vitrine_MA.jpg') }}" target="_blank"><img class="imageVitrine" src="{{ asset('image/Vitrine_MA.jpg') }}" alt="Activités"></a>
            </div>
            <div class="entreeLogin">
                <a href="{{ path('app_login') }}">Ready To Go ?!</a>
            </div>
            <div class="tenor-gif-embed divIndividuelle" data-postid="16068708">
            </div>
            <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
            <div class="divIndividuelle">
                <a href="{{ asset('image/Vitrine_Tyrolienne.gif') }}" target="_blank"><img class="imageVitrine" src="{{ asset('image/Vitrine_Tyrolienne.gif') }}" alt="Activités"></a>
            </div>
            <div class="divIndividuelle">
                <a href="{{ asset('image/Vitrine_Titi.jpg') }}" target="_blank"><img class="imageVitrine" src="{{ asset('image/Vitrine_Titi.jpg') }}" alt="Activités"></a>

            </div>
            <div class="divIndividuelle">
                <a href="{{ asset('image/157978.gif') }}" target="_blank"><img class="imageVitrine" src="{{ asset('image/157978.gif') }}" alt="Activités"></a>
            </div>
            <div class="divIndividuelle">
                <a href="{{ asset('image/eh!.jpg') }}" target="_blank"><img class="imageVitrine" src="{{ asset('image/sarah.gif.gif') }}" alt="Activités"></a>
            </div>
            <div class="divIndividuelle">
                <a href="https://fr-fr.facebook.com/EniEcoleInformatique/" target="_blank"><img class="imageVitrine" src="{{ asset('image/ENIEcole.jpg') }}" alt="Activités" title="Facebook"></a>
            </div>
        </div>
    </div>
{% endblock %}