{% extends 'base.html.twig' %}

{% block body %}
{#    <img src="{{ asset('image/logotest.png') }}" alt="Activités">#}
{#    <a href="{{ path('app_login') }}">Ready To Go ?!</a>#}
    <section>
        <div>
            <span><img src="{{ asset('image/ENIEcole.jpg') }}" alt="Activités" height="250px"
                       width="250px"></span>
        </div>
        <div>
            <span><img src="{{ asset('image/logotest.png') }}" alt="Activités" height="250px"
                       width="250px"></span>
        </div>
        <div>
            <span>3</span>
        </div>
        <div>
            <span>3</span>
        </div>
        <div>
            <span>4</span>
        </div>
        <div>
            <span><a href="{{ path('app_login') }}">Ready To Go ?!</a></span>
        </div>
        <div>
            <span>6</span>
        </div>
        <div>
            <span>7</span>
        </div>
        <div>
            <span>8</span>
        </div>
        <div>
            <span>9</span>
        </div>
    </section>
{% endblock %}