{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ profil.pseudo }}</h1>
    <div class="affSortie">
        <div class="labelInfos">
            <p>Nom : </p>
            <p>Prénom : </p>
            <p>Téléphone : </p>
            <p>Email : </p>
            <p>Site de rattachement : </p>
        </div>
        <div class="donneesInfos">
            <p>{{ profil.nom }}</p>
            <p>{{ profil.prenom }}</p>
            <p>{{ profil.telephone }}</p>
            <p>{{ profil.email }}</p>
            <p>{{ profil.site.nom }}</p>
        </div>
    </div>
    <a href="{{ path('profil_modifierProfil') }}"><input type="button" value="Modifier" class="buttonForm"></a>
    <a href="{{ path('accueil_index') }}"><input type="button" value="Retour" class="buttonForm"></a>
{% endblock %}
{% block title %}
    {{ parent() }} | Afficher Profil
{% endblock %}