{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}|Modifier Profil{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>
    {{ form_start(formProfil) }}
    {{ form_widget(formProfil) }}
    <input type="submit" value="Valider">
    <a href="{{ path('profil_modifierMdp') }}"><input type="button" value="Modifier Mot De passe"></a>
    <a href="{{ path('profil_affichageProfil') }}"><input type="button" value="Retour"></a>
    {{ form_end(formProfil) }}
{% endblock %}
