{% extends 'base.html.twig' %}

{% block body %}
    {% if sortie.etats.id == 6 %}
        <h1>La sortie {{ sortie.nom }} est annulée !</h1>
        <div class="affSortie">
            <div>
                <p>Nom de la sortie : </p>
                <p>Date de la sortie : </p>
                <p>Site organisateur : </p>
                <p>Lieu : </p>
                <p>Motif : </p>
            </div>
            <div>
                <p>{{ sortie.nom }}</p>
                <p>{{ sortie.dateHeureDebut|date('d-m-Y') }}</p>
                <p>{{ sortie.site.nom }}</p>
                <p>{{ sortie.lieux.nom }}, {{ sortie.lieux.rue }}, {{ sortie.lieux.villes.codePostal }} {{ sortie.lieux.villes.nom }}</p>
                <p>{{ sortie.motifAnnulation }}</p>
            </div>
        </div>
        <input type="button" value="Retour" onclick="history.back()">
    {% endif %}
{% endblock %}