{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Creer sortie{% endblock %}
{% block javascripts %}<script src="{{ asset('JavaScript/script.js') }}" defer></script>{% endblock %}

{% block body %}
    <div id="bodyCreerSortie">
        <h1>Créer une Sortie</h1>
        <div id="formCreerSortie">
            {{ form_start(form) }}
            <div class="CreerSortie">
                <div id="labelInfos">
                    {{ form_label(form.nom) }}
                </div>
                <div id="donneesInfos">
                    {{ form_widget(form.nom) }}
                </div>
                <div id="labelInfos">
                    {{ form_label(form.dateHeureDebut) }}
                 </div>
                <div id="donneesInfos">
                    {{ form_widget(form.dateHeureDebut)}}
                </div>
                <div id="labelInfos">
                    {{ form_label(form.nbInscriptionsMax) }}
                </div>
                <div id="donneesInfos">
                    {{ form_widget(form.nbInscriptionsMax) }}
                </div>
            </div>
            <div class="CreerSortie">
                <div id="labelInfos">
                    {{ form_label(form.lieux) }}
                </div>
                <div id="donneesInfos">
                    {{ form_widget(form.lieux) }}
                </div>
                <div id="labelInfos">
                    {{ form_label(form.dateLimiteInscription) }}
                </div>
                <div id="donneesInfos">
                    {{ form_widget(form.dateLimiteInscription) }}
                </div>
                <div id="labelInfos">
                    {{ form_label(form.duree) }}
                </div>
                <div id="donneesInfos">
                    {{ form_widget(form.duree) }}
                </div>
            </div>
            <div id="descriptionSortie">
                {{ form_label(form.infosSortie) }}
                {{ form_widget(form.infosSortie) }}
            </div>
            <input class="buttonCreer" type="submit" value="Enregistrer" name="enregistrer">
            <input class="buttonCreer" type="submit" value="Publier" name="publier">
            {{ form_end(form) }}
            <a href="{{ path('accueil_index') }}"><button class="buttonCreer">Annuler</button></a>
        </div>
    </div>
{% endblock %}