{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Creer sortie{% endblock %}

{% block body %}
    <div id="bodyCreerSortie">
        <h1>Créer une Sortie</h1>
        <div id="formCreerSortie">
            {{ form_start(form) }}
            <div id="formulaireSortie">
                <div class="CreerSortie">
                    <div class="labelInfosSortie">
                        <p>{{ form_label(form.nom) }}</p>
                        <p> {{ form_label(form.dateHeureDebut) }}</p>
                        <p>{{ form_label(form.nbInscriptionsMax) }}</p>
                    </div>
                    <div class="donneesInfosSortie">
                        <p>{{ form_widget(form.nom) }}</p>
                        <p>{{ form_widget(form.dateHeureDebut)}}</p>
                        <p>{{ form_widget(form.nbInscriptionsMax) }}</p>
                    </div>
                </div>
                <div class="CreerSortie">
                    <div class="labelInfosSortie">
                        <p>{{ form_label(form.lieux) }}</p>
                        <p>{{ form_label(form.dateLimiteInscription) }}</p>
                        <p>{{ form_label(form.duree) }}</p>
                    </div>
                    <div class="donneesInfosSortie">
                        <p>{{ form_widget(form.lieux) }}</p>
                        <p>{{ form_widget(form.dateLimiteInscription) }}</p>
                        <p>{{ form_widget(form.duree) }}</p>
                    </div>
                </div>
            </div>
                <div id="descriptionSortie">
                    <div id="labelDescription">
                        {{ form_label(form.infosSortie) }}
                    </div>
                    <div id="inputDescription">
                        {{ form_widget(form.infosSortie) }}
                    </div>
                </div>

                <input class="buttonCreer" type="submit" value="Enregistrer" name="enregistrer">
                <input class="buttonCreer" type="submit" value="Publier" name="publier">
        </div>
                {{ form_end(form) }}
                <a href="{{ path('accueil_index') }}"><button class="buttonCreer">Annuler</button></a>
    </div>
{% endblock %}