{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|Sortie{% endblock %}

{% block javascripts %}
{#    <script>#}
{#        let map = L.map('map').setView([51.505, -0.09], 13);#}
{#        let marker = L.marker([51.5, -0.09]).addTo(map);#}
{#    </script>#}
    <style>
        #map {
            height: 200px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Afficher une sortie</h1>
    <div class="affSortie">
        <div>
            <p>Nom de la sortie : </p>
            <p>Date et heure de la sortie : </p>
            <p>Date limite d'inscription : </p>
            <p>Nombre de places : </p>
            <p>Durée : </p>
            <p>Description et infos : </p>
        </div>
        <div>
            <p>{{ sortie.nom }}</p>
            <p>{{ sortie.dateHeureDebut|date('d-m-Y H:i:s') }}</p>
            <p>{{ sortie.dateLimiteInscription|date('d-m-Y') }}</p>
            <p>{{ sortie.nbInscriptionsMax }}</p>
            <p>{{ sortie.duree }} minutes</p>
            <p>{{ sortie.infosSortie }}</p>
        </div>
        <div>
            <p>Lieu : </p>
            <p>Rue : </p>
            <p>Ville : </p>
            <p>Code Postal : </p>
            <p>Latitude : </p>
            <p>Longitude : </p>
        </div>
        <div>
            <p>{{ sortie.site.nom }}</p>
            <p>{{ sortie.lieux.rue }}</p>
            <p>{{ sortie.lieux.villes.nom }}</p>
            <p>{{ sortie.lieux.villes.codePostal }}</p>
            <p>{{ sortie.lieux.latitude }}</p>
            <p>{{ sortie.lieux.longitude }}</p>
        </div>
    </div>
    <div class="affSortie">
        <div>
            <h3>Liste des participants inscrit</h3>
            <table>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                <tr>
                    {% for idSortie in inscription %}
                        <td>
                            <a href="{{ path('profil_affichageProfilInscrit', {'id' : idSortie.participant.id}) }}">{{ idSortie.participant.pseudo }}</a>
                        </td>
                        <td>{{ idSortie.participant.prenom }} {{ idSortie.participant.nom }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <div onload="initialize()">
            <div id="map"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function initialize() {
            let map = L.map('map').setView([48.833, 2.333], 7); // LIGNE 18

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            var marker = L.marker([51.5, -0.09]).addTo(map);
        }
    </script>
{% endblock %}

{#var lat = {% if sortie.lieux.latitude == null %}#}
{#    47.218371#}
{#{% else %}#}
{#    {{ sortie.lieux.latitude }}#}
{#                    {% endif %};#}
{#var lon = {% if sortie.lieux.latitude == null %}#}
{#    -1.553621#}
{#{% else %}#}
{#    {{ sortie.lieux.longitude }}#}
{#                    {% endif %};#}