{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|Sortie{% endblock %}

{% block javascripts %}
{#    <script>#}
{#        let map = L.map('map').setView([51.505, -0.09], 13);#}
{#        let marker = L.marker([51.5, -0.09]).addTo(map);#}
{#    </script>#}
    <style>
        #map {
            height: 200px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Afficher une sortie</h1>
    <div class="affSortie">
        <div>
            <p>Nom de la sortie : </p>
            <p>Date et heure de la sortie : </p>
            <p>Date limite d'inscription : </p>
            <p>Nombre de places : </p>
            <p>Durée : </p>
            <p>Description et infos : </p>
        </div>
        <div>
            <p>{{ sortie.nom }}</p>
            <p>{{ sortie.dateHeureDebut|date('d-m-Y H:i:s') }}</p>
            <p>{{ sortie.dateLimiteInscription|date('d-m-Y') }}</p>
            <p>{{ sortie.nbInscriptionsMax }}</p>
            <p>{{ sortie.duree }} minutes</p>
            <p>{{ sortie.infosSortie }}</p>
        </div>
        <div>
            <p>Lieu : </p>
            <p>Rue : </p>
            <p>Ville : </p>
            <p>Code Postal : </p>
            <p>Latitude : </p>
            <p>Longitude : </p>
        </div>
        <div>
            <p>{{ sortie.site.nom }}</p>
            <p>{{ sortie.lieux.rue }}</p>
            <p>{{ sortie.lieux.villes.nom }}</p>
            <p>{{ sortie.lieux.villes.codePostal }}</p>
            <p>{{ sortie.lieux.latitude }}</p>
            <p>{{ sortie.lieux.longitude }}</p>
        </div>
    </div>
    <hr>
    <div class="affSortie">
        <div>
            <h3>Liste des participants inscrit</h3>
            <table class="table">
                <tr>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Nom</th>
                </tr>
                {% for idParticipant in inscription %}
                    {% if idParticipant.sortie.id == sortie.id %}
                    <tr>
                        <td>
                            <a href="{{ path('profil_affichageProfilInscrit', {'id' : idParticipant.participant.id}) }}">{{ idParticipant.participant.pseudo }}</a>
                        </td>
                        <td>{{ idParticipant.participant.prenom }} {{ idParticipant.participant.nom }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        <div>
            <div id="map"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var lat = {% if sortie.lieux.latitude == null %}
                        47.218371
                    {% else %}
                        {{ sortie.lieux.latitude }}
                    {% endif %};
        var lon = {% if sortie.lieux.latitude == null %}
                        -1.553621
                    {% else %}
                        {{ sortie.lieux.longitude }}
                    {% endif %};

        var zoom = {% if sortie.lieux.latitude == null and sortie.lieux.latitude == null %}
                        11
                    {% else %}
                        13
                    {% endif %};

        var map = L.map('map').setView([lat, lon], zoom);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var marker = L.marker([lat, lon]).addTo(map);
    </script>
{% endblock %}

{#var lat = {% if sortie.lieux.latitude == null %}#}
{#    47.218371#}
{#{% else %}#}
{#    {{ sortie.lieux.latitude }}#}
{#                    {% endif %};#}
{#var lon = {% if sortie.lieux.latitude == null %}#}
{#    -1.553621#}
{#{% else %}#}
{#    {{ sortie.lieux.longitude }}#}
{#                    {% endif %};#}