{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}| Modifier sortie{% endblock %}
{% block javascripts %}<script src="{{ asset('JavaScript/script.js') }}" defer></script>{% endblock %}

{% block body %}
    <h1>Modifier une Sortie</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('app_lieu_ajout') }}"><button>Nouveau lieu</button></a>
    <input type="submit" value="Enregistrer" name="enregistrer">
    <input type="submit" value="Publier" name="publier">
    <input type="submit" value="Supprimer" name="supprimer">
    {{ form_end(form) }}
    <a href="{{ path('accueil_index') }}"><input type="button" value="Retour"></a>

{% endblock %}

