{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|Accueil{% endblock %}


{% block body %}
    <h2>Date du jour : {{'now'|date('d/m/Y') }}</h2>
    <h2>Participant :  {{ app.user.pseudo }}</h2>
    <form>
        <fieldset>
            <legend>Filtrer les sorties</legend>
            <div class="filtre">
                <div>
                    <label for="site">Site : </label>
                    <select name="site" id="site">
                        {% for site in sites %}
                        <option value="{{ site.nom|lower }}">{{ site.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="search">Le nom de la sortie contient : </label>
                    <input type="search" id="search" placeholder="search">
                </div>
                <div>
                    <label for="dateDebut">Entre </label>
                    <input type="date" id="dateDebut">
                    <label for="dateFin"> et </label>
                    <input type="date" id="dateFin">
                </div>
            </div>
            <div>
                <input type="checkbox" id="sortiesOrga">
                <label for="sortiesOrga">Sorties dont je suis l'organisateur/trice</label><br>
                <input type="checkbox" id="sortiesInscrit">
                <label for="sortiesInscrit">Sorties auxquelles je suis inscrit/e</label><br>
                <input type="checkbox" id="sortiesNonInscrit">
                <label for="sortiesNonInscrit">Sorties auxquelles je ne suis pas inscrit/e</label><br>
                <input type="checkbox" id="sortiesPassees">
                <label for="sortiesPassees">Sorties passées</label>
            </div>
            <div>
                <input type="submit" value="Rechercher">
            </div>
        </fieldset>
    </form>
    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('d-m-Y H:i:s') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('d-m-Y') }}</td>
                <td>{{ sortie.nombreParticipants }}/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etats.libelle }}</td>

                {% for inscrit in inscription %}
                {% if inscrit.participant.id == app.user.id and inscrit.sortie.id == sortie.id%}
                        <td>X</td>
                        estInscrit = true
                    {% endif %}
                {% endfor %}

                <td>{{ sortie.organisateur.pseudo }}</td>
                <td>
                    <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a> -
{#                    {% for inscrit in inscription %}#}
                        {% if estInscrit %}
                            <a href="{{ path('_desinscription_sortie', {'id': sortie.id}) }}">Se désister</a>
                        {% endif %}
                        {% if not estInscrit %}
                            <a href="{{ path('_inscription_sortie', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}
{#                    {% endfor %}#}
                </td>


{#                <a href="{{ path('_inscription_sortie', {'id': sortie.id}) }}">S'inscrire</a>#}
{#                    <td>{{ sortie.organisateur }}#}
{#                         <td>  {% if sortie.organisateur == app.user.pseudo %}}#}
{#                        {% switch sortie.etats.id %}#}
{#                            {% case 1 %}#}
{#                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Modifier - Publier</a>#}
{#                            {% case 2 %}#}
{#                                <a href="{{ path('sortie_affichage', {'id': sortie.id}) }}">Afficher - </a>#}
{#                                <a href="{{ path('sortie_annule', {'id': sortie.id}) }}">Annuler</a>#}
{#                            {% default %}#}
{#                        {% endswitch %}#}
{#                    {% else %}#}
{#                        {% switch sortie.etats.id %}#}
{#                            {% case 1 %}#}
{#                            {% case 2 %}#}
                <a href="{{ path('_inscription_sortie', {'id': sortie.id}) }}">S'inscrire</a>
{#                        {% default %}#}
{#                        {% endswitch %}#}
{#                    {% endif %}#}
{#                </td>#}
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('app_creer_sortie') }}" class="btn btn-warning">Créer une sortie</a>
{% endblock %}
