{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <div id="bodyAccueil">
        <div class="affLieu">
            <div class="enteteAccueil">
                <h1>SORTIR.COM</h1>
            </div>
            <div class="enteteAccueil">
                <div>
                    <h4>Date du jour : {{ 'now'|date('d/m/Y') }}</h4>
                    <h4>Participant : {{ app.user.pseudo }}</h4>
                </div>
            </div>
        </div>
        <div>
            <h3>Filtrer les sorties</h3>
        </div>
        <form action="{{ path('accueil_index') }}" method="post" class="formAccueil affLieuComplet">
            <div class="formAccueil affLieuInfos">
                <div class="filtre">
                    <div>
                        <label class="labelForm" for="site">Site : </label>
                        <select name="site" id="site">
                            <option value="selectDeBase" disabled selected>Selectionner un site</option>
                            {% for site in sites %}
                                <option value="{{ site.id }}">{{ site.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label class="labelForm" for="search">Le nom de la sortie contient : </label>
                        <input type="search" id="search" name="search" placeholder="search">
                    </div>
                    <div>
                        <label class="labelForm" for="dateDebut">Entre </label>
                        <input type="date" id="dateDebut" name="dateDebut">
                        <label class="labelForm" for="dateFin"> et </label>
                        <input type="date" id="dateFin" name="dateFin">
                    </div>
                </div>
                <div class="filtre">
                    <div class="labelForm">
                        <input type="checkbox" id="sortiesOrga" name="sortiesOrga">
                        <label for="sortiesOrga">Sorties dont je suis l'organisateur/trice</label><br>
                    </div>
                    <div class="labelForm">
                        <input type="checkbox" id="sortiesInscrit" name="sortiesInscrit">
                        <label for="sortiesInscrit">Sorties auxquelles je suis inscrit/e</label><br>
                    </div>
                    {# <div class="labelForm">
                    <input type="checkbox" id="sortiesNonInscrit" name="sortiesNonInscrit">
                    <label for="sortiesNonInscrit">Sorties auxquelles je ne suis pas inscrit/e</label><br>
                    div></ #}
                    <div class="labelForm">
                        <input type="checkbox" id="sortiesPassees" name="sortiesPassees">
                        <label for="sortiesPassees">Sorties passées</label>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Rechercher" class="buttonForm bouton">
                </div>
            </div>
        </form>
        <h3>Les Sorties</h3>
    <a href="{{ path('accueil_index') }}">
        <button class="buttonForm" id="refreshButton">Rafraîchir</button >
    </a>
    <div class="scroller">
        <table class="table" id="table1">
            <tr id="tr">
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture des inscriptions</th>
                <th scope="col">inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            {% for sortie in sorties%}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date('d-m-Y H:i:s') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d-m-Y H:i:s') }}</td>
                    <td>{{ sortie.nombreParticipants }}/{{ sortie.nbInscriptionsMax }}</td>
                    <td>
                        {% if sortie.etats.id != 6 and sortie.etats.id != 2 %}
                            {{ sortie.etats.libelle }}
                        {% endif %}
                        {% if sortie.etats.id == 2 %}
                            <font color="#32cd32">{{ sortie.etats.libelle }}</font>
                        {% endif %}
                        {% if sortie.etats.id == 6 %}
                            <font color="red">{{ sortie.etats.libelle }}</font>
                        {% endif %}
                    </td>
                    <td>
                        {% for inscrit in inscription %}
                            {% if inscrit.participant.id == app.user.id and inscrit.sortie.id == sortie.id %}
                                X
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('profil_affichageProfilInscrit', {'id' : sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a></td>
                    <td>
                        {# Etat Sortie En création #}
                        {% if sortie.etats.id == 1 %}
                            {% if app.user.id == sortie.organisateur.id %}
                                <a href="{{ path('sortie_modifier', {'id': sortie.id}) }}">Modifier</a>
                            {% endif %}
                        {% endif %}

                        {# Etat Sortie Ouverte #}
                        {% if sortie.etats.id == 2 %}
                            <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>
                                {% if app.user != sortie.organisateur %}
                                    {% set boolean = 0 %}
                                        {% for i in sortie.inscriptionsSortie %}
                                            {% if app.user == i.participant %}
                                                {% set boolean = 1 %}
                                            {% endif %}
                                        {% endfor %}
                                    {% if boolean == 0 %}
                                        <a href="{{ path('inscription_sortie', {'id': sortie.id}) }}">S'inscrire'</a>
                                    {% else %}
                                        <a href="{{ path('desinscription_sortie', {'id': sortie.id}) }}">Se désister</a>
                                    {% endif %}
                                {% endif %}
                            {% if app.user.id == sortie.organisateur.id %}
                                <span> - </span>
                                <a href="{{ path('sortie_annulee', {'id': sortie.id}) }}">Annuler</a>
                            {% endif %}
                        {% endif %}

                        {# Etat Sortie Clôturée #}
                        {% if sortie.etats.id == 3 %}
                            <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>
                            {% for inscrit in inscription %}
                                {% if app.user.id != sortie.organisateur.id %}
                                    {% if inscrit.participant.id == app.user.id and inscrit.sortie.id == sortie.id %}
                                        <span> - </span>
                                        <a href="{{ path('desinscription_sortie', {'id': sortie.id}) }}">Se désister</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if app.user.id == sortie.organisateur.id %}
                                <span> - </span>
                                <a href="{{ path('sortie_annulee', {'id': sortie.id}) }}">Annuler</a>
                            {% endif %}
                        {% endif %}

                            {# Etat Sortie En cours #}
                            {% if sortie.etats.id == 4 %}
                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>
                            {% endif %}

                            {# Etat Sortie Passée #}
                            {% if sortie.etats.id == 5 %}
                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>
                            {% endif %}

                            {# Etat Sortie Annulée #}
                            {% if sortie.etats.id == 6 %}
                                <span><font color="red">Sortie annulée !</font> - (<a
                                            href="{{ path('sortie_annulee_Detail', {'id': sortie.id}) }}">Détail</a>)</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <a href="{{ path('sortie_creer') }}">
            <button class="buttonForm">Créer une sortie</button>
        </a>

    </div>
{% endblock %}