{% extends 'base.html.twig' %}

{% block title %}Hello CreerSortieController!{% endblock %}
{% block javascripts %}<script src="{{ asset('JavaScript/script.js') }}" defer></script>{% endblock %}

{% block body %}
<h1>Créer une Sortie</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('app_lieu_ajout') }}"><button>Nouveau lieu</button></a>
    <a href="#"><button>i</button></a>
    <input type="submit" value="Valider">
    {{ form_end(form) }}
    <a href="{{ path('accueil_index') }}"><button >Annuler</button></a>

{% endblock %}
