{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ ville.nom }}{% endblock %}

{% block body %}
    <div class="small-text-center">
        <h1>Information ville : {{ ville.nom }}</h1>
    </div>
    <div class="affLieuComplet">
        <div class="affLieuInfos">
            <div id="labelInfosLieu">
                <p>Nom : </p>
                <p>Code Postal : </p>
            </div>
            <div id="donneesInfosLieu">
                <p>{{ ville.nom }}</p>
                <p>{{ ville.codePostal }}</p>
            </div>
        </div>
    </div>
    <div>
        <a href="{{ path('ville_modifier', {'id': ville.id}) }}">
            <button class="buttonForm">Modifier</button>
        </a>
        <a href="{{ path('ville_supprimer', {'id': ville.id}) }}">
            <button class="buttonForm">Supprimer</button>
        </a>
        <a href="{{ path('ville_liste') }}">
            <button class="buttonForm">Retour</button>
        </a>
    </div>
{% endblock %}


