{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | {{ ville.nom }}{% endblock %}

{% block body %}
    <div class="small-text-center">
        <h1>Information ville : {{ ville.nom }}</h1>
    </div>
    <div class="affLieuComplet">
        <div class="affLieuInfos">
            <div id="labelInfosLieu">
                <p>Nom : </p>
                <p>Code Postal : </p>
            </div>
            <div id="donneesInfosLieu">
                <p>{{ ville.nom }}</p>
                <p>{{ ville.codePostal }}</p>
            </div>
        </div>
    </div>
    <div>
        <a href="{{ path('ville_liste') }}" class="btn btn-warning">Retour</a>
    </div>
{% endblock %}

