<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/vitrine.css') }}">
        <link rel="stylesheet" href="{{ asset('css/login.css') }}">
        <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
        <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
        <link rel="stylesheet" href="{{ asset('css/sortie.css') }}">
        <link rel="stylesheet" href="{{ asset('css/siteVilleLieu.css') }}">

        <link rel="icon" href="{{ asset('image/Sarah1.gif') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
            integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
            integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
            crossorigin=""></script>

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% if app.user %}
            <nav>
                <ul>
                    <li><a href="{{ path('app_logout') }}">Se Déconnecter</a></li>
                    <li><a href="{{ path('profil_affichageProfil') }}">Mon profil</a></li>
                    <li><a href="{{ path('site_liste') }}">Sites</a></li>
                    <li><a href="{{ path('ville_liste') }}">Villes</a></li>
                    <li><a href="{{ path('lieu_liste') }}">Lieux</a></li>
                    {% if app.user.administrateur %}
                        <li><a href="{{ path('profil_creerProfil') }}">Profils</a></li>
                    {% endif %}
                    <li><a href="{{ path('accueil_index') }}">Accueil</a></li>
                </ul>
            </nav>
        {% endif %}
        <main id="bodyAccueil">
        {% block body %}{% endblock %}
        </main>
        <footer>
            <p>&copy; ManyToOne Company - {{'now'|date('Y') }}</p>
        </footer>
        {% block script %}{% endblock %}
    </body>
</html>

